*{
    margin: 0;
    padding: 0;
}


.logo-dot{
    font-weight: 900;
}
.logo{
    position: relative;
    font-weight: 900;
    font-size: larger;
    text-decoration: none;
    left: 150px;

}

.button-get-started{
    position: relative;
    right: 120px;
}
.navbar{
    font-size: large;
    font-weight: 400;
}


.hero-image{
    background-image: url('/img/hero-bg.jpg');
    background-image: cover;
    background-repeat: no-repeat;
    position: relative;
    filter: brightness(80%);
    
    
    

    
    
}
.hero-text{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    


}

.dot-in-span{
    font-weight: 700;
}

.fontawesome{
    margin-bottom: 100px;
    padding: 100px;
    text-align: center;
    
}

.fontawesome-icon{
    border: 2px solid gray;
    
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.about-section{
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.feature-section{
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    
}



.fontawesome-service{
    border: 1px solid gray;
    margin-left: 100px;
    margin-bottom: 50px;
    height: 300px;
    width: 300px;
    

}

.fa-border{
    background-color: #f0ad4e;
}

.service-contents{
    text-align: center;
    border: 1px solid gray;
    padding-top: 80px;
    padding-bottom: 80px;

}

.check-services{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}


.call-to-action {
    background-image: url('/img/cta-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }


.counts-section{
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
}


.testimonial{
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 50px;
    
}
.testimonial-img{
    border: 1px solid white;
    border-radius: 50%;
    width: 5%;
}

.check-our-team{
    padding-bottom: 100px;
}


.contact-us{
    
    padding-top: 20px;
    padding-bottom: 50px;
}

.footer{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    
}